@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --green:#59CE8F;
  --white: #FFFFFF;
  --navy:#021934;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}
.row-wrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  flex-wrap: wrap;
}
.container{
  width: 1100px;
  margin: 0 auto;
}

.link {
  font-weight: 500;
  color: var(--navy);
  text-decoration: inherit;
}

.link:hover {
  color: var(--green);
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--green);
  cursor: pointer;
  color: var(--white);
}
button:hover {
  translate: 20px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
button:focus,
button:focus-visible {
  outline: 4px auto var(--green);
}
button a{
  text-decoration: none;
  color: var(--white);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: var(--white);
  }
  .link:hover {
    color: var(--green);
  }
}
